#clockcontainer{
    position: relative;
    margin: auto;
    
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;

}
#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
       width: 1.8%;
       height: 16.5%;
       top: 37%;
       left: 48.2%;                                     
       opacity: 0.8;
       
}
#minute{
    width: 1.6%;
    height: 20.5%;
    top: 33%;
    left: 48.1%;
    opacity: 0.8;
   
}
#second{
    width: 1%;
    height: 28%;
    top: 24.8%;
    left: 47.5%;
    opacity: 0.8;
    
}